body {
	padding: 0;
	margin-top: 200px;
	background-image: url('https://image.divscode.com/login-bg.jpg');
	background-size: cover;
	height: 200vh;
	z-index: 1;
}
.container {
	position: relative;
	margin-top: 100px;
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 75px;
	background-color: #3e65da;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}

}

.shadowed {
  border: 8px solid black;
  background-image: url('https://image.freepik.com/free-vector/winter-blue-pink-gradient-background-vector_53876-117276.jpg');
  background-size: cover;
  height: 300px;
  margin: 200px;
  padding: 20px;
  position: relative;
  margin-bottom: 5px;
}


btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
          # 212529 ;
  text-align: center;
  text-decoration: none ;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none ;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem lrem;
  color:
  font-size: Irem;
  border-radius: 2em;
  transition: color .15s ease-in-out, background-color .15s
ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-
in-out;
}

.login-form{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1{
margin:0 0 15px;
 color:#3e65da;
 font-size:30px;
 text-align: center;
 opacity:100;
}

.box input{
 width: 20%;
 margin-bottom: 2px;
 height: 30px;
 padding:1px 15px;
 opacity:100;
}

.login-form{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 20px;
}