{% extends "base.html" %}
{% block title %}Login{% endblock %}


{% block content %}
<h1><center>Login</center></h1>
<div style="text-align: center; width: 50%; margin: 0 auto;">
    {% if message %}
        {{ message }}
    {% endif %}
</div><br>
{% if form %}
    <form class="box" action="{{url_for('login')}}" style="text-align: center; width: 70%; margin: 0 auto;" method="POST">
       <!-- Email Field -->
    {{ form.email.label }}: <br>
    {{ form.email }}
    <br>
       <!-- Password Field -->
    {{ form.password.label }}: <br>
    {{ form.password }}
    <br><br>
    <!--Token-->
    {{ form.csrf_token }}
       <!-- Submit Field -->
    {{ form.submit }}
</form>
{% endif %}
{% endblock %}







<!--<div class="login-clean" style="text-align: center; width: 70%; margin: 0 auto;">-->
<!--  <form method3"post">-->
<!--        <h2 class="visually-hidden">Login Form</h2>-->
<!--        <div class="illustration"></div>-->
<!--        <div class="mb-3">-->
<!--        <input class="form-control" type="email" name="email" placeholder="Email" />-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--        <input class="form-control" type="password" name="password" placeholder="Password" />-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--        <button class="btn btn-primary d-block w-100" type="submit">Log In</button>-->
<!--        </div>-->
<!--        <a class="forgot" href="#">Forgot your email or password?</a>-->
<!--    </form>-->
<!--</div>-->