{% extends "url_page.html" %}
{% block title %}Short URL{% endblock %}

{% block content %}
<div style="text-align: center; width: 50%; margin: 0 auto;" class="shadowed">
    <a href="https://hieuanh.herokuapp.com/{{short_url_display}}" id = "CopytextArea">https://hieuanh.herokuapp.com/{{short_url_display}}</a>
    <button type="button" onclick="copyEvent('CopytextArea')">Copy</button>
    <script>
    function copyEvent(id)
    {
        var str = document.getElementById(id);
        window.getSelection().selectAllChildren(str);
        document.execCommand("Copy")
        alert("URL Copied.");
    }
    </script>
    <br>
    <br>
    <a href="https://hieuanh.herokuapp.com/">BACK TO HOMEPAGE</a>
</div>
{% endblock %}
